<!-- <app-carrito [codigoProducto]="id"></app-carrito> -->

<div class="container">
    <h1>Carrito</h1>
    <hr>
    <div class="row" >        
        
            <div class="col-12 col-md-4 mb-2" *ngFor="let producto of productos">
                <div class="card">
                    <img src= {{producto.thumbnailUrl}}  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.title }}</h5>
                        <p class="card-text"> {{producto.precio}} </p>                        
                        <button class="btn btn-primary" id={{producto.id}} (click)="enviarPedidoCompra(producto.id)">Comprar</button>
                    </div>
                </div>
            </div>        
        
    </div>
</div>


<ng-template #producto>
    <div class="col-12 col-md-4">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</ng-template>
